
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 14px/16px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { color: #fff; background: #3297FD;	 text-shadow: none; }
::selection { color: #fff; background: #3297FD; text-shadow: none; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol,li { margin:0; padding: 0; list-style: none outside; }
dd { margin: 0 0 0; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden;}
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid { }
input:invalid, textarea:invalid {  }
table { border-collapse: collapse; border-spacing: 0; }
h1,h2,h3,h4,h5,h6,p,span,b { padding: 0; margin: 0; font-size: 1em;}
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
canvas { margin: 0; padding: 0;}
/*project luxgen 2013*/
html { width: 100%; min-height:400px; }
body {  color: #EEEEEE; width: 100%; min-width: 320px; min-height: 100%; background: url(../image/bg-i.jpg) center top ;background-color:#222222 !important;}
a { color: #EEEEEE;}
.frame {display: none; position: relative; margin-top: 46px; padding-top: 6px; min-height: 452px; }
.subframe {display: none;}
.frame .subframe:first-child { display: block;}
.subframe .title { width: 100%; height:40px; display: block;  text-indent: -9999em; overflow: hidden; margin-top: 80px;}

header { width: 100%; height: 50px; overflow: hidden; background: url(../image/bg-header-i.png) repeat-x; z-index: 10; position: absolute; top: 0; left: 0; }
header h1 { display: block; width: 120px; height: 50px; margin: 0; line-height:50px; background: url(../image/icon-header-i.png) top left no-repeat; text-indent: -9999em; overflow: hidden;}
header div.link_home {  float: right; width: 162px; height:50px;overflow: hidden;}
header div.link_home a {display: block; float: left; width: 80px; height:50px;overflow: hidden; background: url(../image/icon-header-i.png) top right no-repeat; text-indent: -9999em;}
header div.link_home a.link_home { background: url(../image/icon-header-i.png) -160px top no-repeat;  }
header div.link_home a.book { }
.page { width: 100%; height: 100%; }
/* loading mask & horizontal*/
.mask { display: none; width: 100%; height: 100%; background: #3e3e3e; opacity: 0.7; position: fixed; bottom: 0; left: 0; padding-top: 60px; z-index: 9999; color: #ffffff;}
.mask .loading { width: 100%; height: 100%; background: url(../image/ajax-loader.gif) center center no-repeat;line-height: 600px;
text-align: center; color:rgba(200,200,200,0.4);}
.horizontal {display: none; width: 100%; height: 100%; min-height: 320px; background: #1b1b1b; opacity: 0.9; position: fixed; bottom: 0; left: 0; padding-top: 60px; z-index: 9999; color: #fff; font-size: 200%; line-height: 320px; text-align: center;}
/* nav */
.navbox { width: 100%; height: 46px; line-height: 46px; text-align: center; position: fixed; bottom: 0px; display: none;background: url(../image/bg-navbar2.png) repeat-x; z-index: 20;}
.navbox input[type='button'] , .navbox .navlink { 
  height:46px; text-align: center;/*background: url(../image/bg-navbar.png);*/ display: block;border:none;border-radius:0; color: #fff;background: none;
  appearance:none;-moz-appearance:none;-webkit-appearance:none;
  text-indent: -99em;
}
.navbox .takepic .back {width: 159px;  float: left; background: url(../image/bg-nav.png) 4px -353px no-repeat;}
.navbox .takepic .takethepic { min-width: 161px; width: 50%; float: left; background: url(../image/bg-nav.png)  -159px -354px no-repeat;}
.navbox .retakepic .takethepic { min-width: 161px; width: 50%; float: left;background: url(../image/bg-nav.png) -159px -50px no-repeat; }
.navbox .retakepic .retake { width: 159px;  float: left; background: url(../image/bg-nav.png) 0 -50px no-repeat;}
.navbox .navlink { 
  float: left; 
  width: 50%; 
  background: url(../image/bg-nav.png) top center no-repeat;
  text-indent: 2em;
  padding-top: 60px;
}

.navbox .subminsuccess ,.navbox .subminsuccess , .navbox .sheargame ,.navbox .yourmount .youreal , .navbox .awardsubmint , .navbox .aboutgame { width: 100%; text-decoration: none;}
.navbox .showreal .youreal { width: 33.3%;}
.navbox .subminsuccess { background-position: center -200px;}
.navbox .sheargame { background-position: center -300px;}
.navbox .awardsubmint { background-position: center -250px;}
.navbox .aboutgame { background-position: center -200px;}
.navbox .yourmount .youreal { background:url(../image/bg-nav.png) center -100px no-repeat; text-indent: 2em;padding-top: 60px;}
.navbox .showreal .linkshare { background-position: left -150px; width: 107px;}
.navbox .showreal .linkaward { background-position: -107px -150px; width: 95px;}
.navbox .showreal .replay { background-position: -202px -150px; min-width: 118px;}
/*homepage*/
.homepage { width: 100%;  background: #f4f4f4 url(../image/bg-homepage-01.jpg) no-repeat top center;   }
  .homepage .content { width: 320px; margin: 0 auto; padding-top: 400px; }
  .homepage .title { width: 100%; height: 166px; background: url(../image/home-title.png) no-repeat top center; text-indent: -9999em; display: none;}
  .homepage .menu { width: 100%; height: 100px; margin-top: 0px; padding: 24px 0 0; }
    .homepage .menu li {height: 30px; margin-bottom: 1px;  }
    .homepage .menu li a { display: block; width: 100%; height: 30px; background: url(../image/home-menu.png) no-repeat center -24px; text-indent: -9999em; overflow: hidden;}
    .homepage .menu li a.awardlist { background-position:center -56px ;}
    .homepage .menu li a.aboutgame { background-position:center -87px ;}

/*selectgender*/
.selectgender { width: 100%;}
  .selectgender .gender { width: 100%; height: 22px; background: url(../image/icon-gender.png)  center top no-repeat ; text-indent: -9999em; margin-top: 156px;}
  .selectgender ul { width: 214px; margin: 0 auto;}
  .selectgender ul li { width: 107px; height: 154px; display: block; float: left;}
  .selectgender ul a { display: block; width: 107px; height: 154px; background: url(../image/icon-gender.png)  -52px -22px no-repeat; text-indent: -9999em;}
  .selectgender ul a.female { background-position: -159px -22px;}
/*take pic*/
.takebox .takebox_frame { display: none; position: relative;}
  .takebox .take { display:block; max-width: 320px; overflow: hidden;}
  .takebox .gridbox { display: block; background: url(../image/mask-hand.png)  center -40px no-repeat; position: absolute; top: 0; left: 0; z-index: 5; width: 100%; height: 100%;}
  .takebox .femalegrid { 
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
      -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
  }
  .takebox .default { display: block; background: url(../image/hand-use-left.jpg)  center -40px no-repeat; position: absolute; top: 0; left: 0; z-index: 6; width: 100%; height: 100%;}
  .takebox .femaledefault {
    background-image: url(../image/hand-use-right.jpg);
  }
  .takebox img { width: 100%;}
  .btn_back , .btn_post , .btn_youreal { z-index: 200; width: 50%; height: 40px; position: absolute; bottom: 0; left:0; display: block; opacity: 0;}
.btn_youreal { width: 100%;}
  #takePictureField, #takePictureField2 { z-index: 200; width: 50%; height: 40px; position: absolute; bottom: 0; right:0; display: block; opacity: 0; }
  #takePictureField2 { right: 0; width: 50%;}
  .takebox .piccanvas { padding: 0; margin: 0;position: absolute;}
#yourimage { width: 0; height: 0; }
#postThePicCanvas { display: none;}
#backcanvas{ position: absolute; z-index: 1; top: 10px;left:10px;}
#newCanvas { position: absolute; z-index: 2; top: 10px;left:10px;}
#tempcanvas2 { display: none;}
/*rendering*/
.rendering { position: relative; width: 100%; min-height: 520px;}
.rendering .status {  text-align: center; height: 70px; padding-top: 80px; display: none;}
.rendering .status .txt { font-size: 120%; font-weight: bold;line-height: 22px;}
.rendering .status .loading { font-size: 80%; line-height: 22px;}
.rendering .status .loading b { font-size: 150%; display: inline-block;}
.rendering .mountstxt { display: none; width: 100%; min-height: 470px;  position: relative;background: url(../image/icon-mount-title.png)  center 18px  no-repeat; padding-top: 48px; }
.rendering .mountstxt .title , .yourmount .real .title { padding:0; margin: 0; width: 100%; background: no-repeat; height: 50px;}
.yourmount .real .title { position: relative;background: url(../image/icon-mount-title.png)  center 18px  no-repeat; padding-top: 28px; height: 20px;}
.yourmount .text { padding:0; margin: 0; width: 100%; background:url() center top no-repeat; height: 85px; background-size: 320px 178px; }
.yourmount .name { padding:0; margin: 0; width: 100%; background:url() center bottom no-repeat; height: 30px; background-size: 320px 178px; }
.yourmount .mountpic { margin: 0 auto; display: block }
/*anims*/
#container {position: absolute; width: 100%; height: auto; z-index: 50;top:150px;}
.caranimbox {position: absolute; width: 100%; height: 200px; top:150px;  z-index: 60; overflow: hidden;}
.carunit { position: absolute;/*background: url(../image/x2/car-left-i.png) no-repeat;*/ width: 100px; height: 67px; background-size:100px 67x; z-index: 80;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.caranim-1 {-webkit-animation: caranimtion-1 2s;}
.caranim-2 {-webkit-animation: caranimtion-2 2s;}
.caranim-3 {-webkit-animation: caranimtion-3 2s;}
.caranim-4 {-webkit-animation: caranimtion-4 2s;}
.caranim-5 {-webkit-animation: caranimtion-5 2s;}
.caranim-6 {-webkit-animation: caranimtion-6 2s;}
.caranim-7 {-webkit-animation: caranimtion-7 2s;}
.caranim-8 {-webkit-animation: caranimtion-8 2s;}
.caranim-9 {-webkit-animation: caranimtion-9 2s;}
.caranim-10 {-webkit-animation: caranimtion-10 2s;}
.caranim-11 {-webkit-animation: caranimtion-11 2s;}
.caranim-12 {-webkit-animation: caranimtion-12 2s;}
.caranim-13 {-webkit-animation: caranimtion-13 2s;}
.caranim-14 {-webkit-animation: caranimtion-14 2s;}
.caranim-15 {-webkit-animation: caranimtion-15 2s;}
.caranim-16 {-webkit-animation: caranimtion-16 2s;}
.caranim-17 {-webkit-animation: caranimtion-17 2s;}
.caranim-18 {-webkit-animation: caranimtion-18 2s;}
.caranim-19 {-webkit-animation: caranimtion-19 2s;}
.caranim-20 {-webkit-animation: caranimtion-20 2s;}
.caranim-21 {-webkit-animation: caranimtion-21 2s;}
.caranim-22 {-webkit-animation: caranimtion-22 2s;}
.caranim-23 {-webkit-animation: caranimtion-23 2s;}
.caranim-24 {-webkit-animation: caranimtion-24 2s;}
.caranim-25 {-webkit-animation: caranimtion-25 2s;}
.caranim-26 {-webkit-animation: caranimtion-26 2s;}
.caranim-27 {-webkit-animation: caranimtion-27 2s;}
.caranim-28 {-webkit-animation: caranimtion-28 2s;}
.caranim-29 {-webkit-animation: caranimtion-29 2s;}
.caranim-30 {-webkit-animation: caranimtion-30 2s;}
.caranim {
  opacity: 1;
  -webkit-animation-iteration-count :1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: caranimtion 2s;
  -ms-animation: caranimtion 2s;
  -o-animation: caranimtion 2s;
  -webkit-animatin-delay: 3s;
  -moz-animatin-delay: 3s;
  -ms-animatin-delay: 3s;
  -o-animatin-delay: 3s;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
@-webkit-keyframes caranimtion-1 {
  0% {top: 70px; left:-100px;} 
  60% {top: 75px; left: 120px;}
  100% {top: 80px; left: 240px;}
}
@-webkit-keyframes caranimtion-2 {
  0% {top: -20px; left:-100px;} 
  60% {top: 70px; left: 120px;}
  70% {top: 110px; left: 116px;}
  100% {top: 146px; left: 180px;}
}
@-webkit-keyframes caranimtion-3 {
  0% {top: 50px; left:340px;} 
  100% {top: 107px; left: 0px;}
}
@-webkit-keyframes caranimtion-4 {
  0% {top: 0px; left:300px;} 

  100% {top: 116px; left: 40px;}
}
@-webkit-keyframes caranimtion-5 {
  0% {top: -20px; left:150px;} 
  60% {top: 80px; left:30px;} 
  70% {top: 110px; left:80px;} 
  100% {top: 140px; left: 50px;}
}
@-webkit-keyframes caranimtion-6 {
  0% {top: -20px; left:40px;} 
  60% {top: 70px; left: 180px;}
  70% {top: 90px; left: 106px;}
  100% {top: 136px; left: 140px;}
}
@-webkit-keyframes caranimtion-7 {
  0% {top: 0px; left:300px;} 

  100% {top: 136px; left: 50px;}
}
@-webkit-keyframes caranimtion-8 {
  0% {top: -70px; left:-100px;} 
  60% {top: 50px; left: 130px;}
  70% {top: 90px; left: 10px;}
  100% {top: 140px; left: 20px;}
}
@-webkit-keyframes caranimtion-9 {
  0% {top: 40px; left:340px;} 
  60% {top: 70px; left: 60px;}
  70% {top: 94px; left: 106px;}
  100% {top: 116px; left: 20px;}
}
@-webkit-keyframes caranimtion-10 {
  0% {top: -30px; left:186px;} 
  100% {top: 136px; left: 80px;}
}
@-webkit-keyframes caranimtion-11 {
  0% {top: 40px; left:-100px;} 
  75% {top: 50px; left: 140px;}
  85% {top: 90px; left: 146px;}
  100% {top: 116px; left: 210px;}
}
@-webkit-keyframes caranimtion-12 {
  0% {top: 0px; left:340px;} 
  70% {top: 70px; left: 60px;}
  85% {top: 94px; left: 106px;}
  100% {top: 136px; left: 60px;}
}
@-webkit-keyframes caranimtion-13 {
  0% {top: 50px; left:340px;} 
  60% {top: 70px; left: 80px;}
  70% {top: 124px; left: 126px;}
  100% {top: 146px; left: 70px;}
}
@-webkit-keyframes caranimtion-14 {
  0% {top: 90px; left:-50px;} 
  20% {top: 100px; left: 20px;}
  30% {top:142px; left: -10px;}
  100% {top: 146px; left: 240px;}
}
@-webkit-keyframes caranimtion-15 {
  0% {top: 30px; left:-60px;} 
  70% {top: 70px; left: 160px;}
  80% {top: 110px; left: 116px;}
  100% {top: 146px; left: 180px;}
}
@-webkit-keyframes caranimtion-16 {
  0% {top: 0px; left:-100px;} 
  80% {top: 90px; left: 180px;}
  90% {top: 120px; left: 156px;}
  100% {top: 146px; left: 180px;}
}
@-webkit-keyframes caranimtion-17 {
  0% {top: -10px; left:-100px;} 
  60% {top: 70px; left: 120px;}
  70% {top: 126px; left: 86px;}
  100% {top: 148px; left: 140px;}
}
@-webkit-keyframes caranimtion-18 {
  0% {top: -20px; left:-100px;} 
  60% {top: 70px; left: 70px;}
  80% {top: 110px; left: 5px;}
  100% {top: 140px; left: 30px;}
}
@-webkit-keyframes caranimtion-19 {
  0% {top: 10px; left:-100px;} 
  68% {top: 70px; left: 120px;}
  86% {top: 110px; left: 76px;}
  100% {top: 146px; left: 130px;}
}
@-webkit-keyframes caranimtion-20 {
  0% {top: 10px; left:-60px;} 
  78% {top: 110px; left: 200px;}
  95% {top: 120px; left: 146px;}
  100% {top: 146px; left: 180px;}
}
@-webkit-keyframes caranimtion-21 {
  0% {top: 0px; left:300px;} 
  60% {top: 70px; left: 80px;}
  70% {top: 110px; left: 116px;}
  100% {top: 146px; left: 40px;}
}
@-webkit-keyframes caranimtion-22 {
  0% {top: 55px; left:300px;} 
  100% {top: 55px; left: -20px;}
}
@-webkit-keyframes caranimtion-23 {
  0% {top: 0px; left:-100px;} 
  65% {top: 50px; left: 100px;}
  85% {top: 60px; left: 150px;}
  90% {top: 90px; left: 126px;}
  100% {top: 116px; left: 180px;}
}
@-webkit-keyframes caranimtion-24 {
  0% {top: 26px; left:340px;} 
  70% {top: 70px; left: 160px;}
  85% {top: 94px; left: 176px;}
  100% {top: 140px; left: 134px;}
}
@-webkit-keyframes caranimtion-25 {
  0% {top: 26px; left:340px;} 
  70% {top: 70px; left: 130px;}
  85% {top: 94px; left: 146px;}
  100% {top: 140px; left: 100px;}
}
@-webkit-keyframes caranimtion-26 {
  0% {top: 56px; left:340px;} 
  70% {top: 100px; left: 130px;}
  85% {top: 124px; left: 146px;}
  100% {top: 143px; left: 120px;}
}
@-webkit-keyframes caranimtion-27 {
  0% {top: -20px; left:260px;} 
  60% {top: 70px; left: 90px;}
  70% {top: 90px; left: 136px;}
  100% {top: 126px; left: 70px;}
}
@-webkit-keyframes caranimtion-28 {
  0% {top: -26px; left:-100px;} 
  68% {top: -22px; left: 140px;}
  86% {top: 40px; left: 116px;}
  100% {top:52px; left: 190px;}
}
@-webkit-keyframes caranimtion-29 {
  0% {top: 20px; left:290px;} 
  50% {top: 30px; left:120px;} 
  80% {top: 110px; left:150px;} 
  100% {top: 140px; left: 90px;}
}
@-webkit-keyframes caranimtion-30 {
  0% {top: -20px; left:260px;} 
  60% {top: 60px; left: 120px;}
  70% {top: 90px; left: 142px;}
  100% {top: 126px; left: 70px;}
}
.carlight { 
  width: 310px;
  height: 205px;
  background: 0 -20px no-repeat; 
  -webkit-mask:-400px -400px no-repeat;
  -webkit-mask-image:url(../image/bg-car-light-mask.png);
  -webkit-mask-size:100%;
}

.carlightanim-1 { 
  -webkit-animation: lightanim-1 2s;
  background-image: url(../image/lt/1.png);
}
.carlightanim-2 { 
  -webkit-animation: lightanim-2 2s;
  background-image: url(../image/lt/2.png);
}
.carlightanim-3 { 
  -webkit-animation: lightanim-3 2s;
  background-image: url(../image/lt/3.png);
}
.carlightanim-4 { 
  -webkit-animation: lightanim-4 2s;
  background-image: url(../image/lt/4.png);
}
.carlightanim-5 { 
  -webkit-animation: lightanim-5 2s;
  background-image: url(../image/lt/5.png);
}
.carlightanim-6 { 
  -webkit-animation: lightanim-6 2s;
  background-image: url(../image/lt/6.png);
}
.carlightanim-7 { 
  -webkit-animation: lightanim-7 2s;
  background-image: url(../image/lt/7.png);
  background-position: 0 0;
}
.carlightanim-8 { 
  -webkit-animation: lightanim-8 2s;
  background-image: url(../image/lt/8.png);
}
.carlightanim-9 { 
  -webkit-animation: lightanim-9 2s;
  background-image: url(../image/lt/9.png);
}
.carlightanim-10 { 
  -webkit-animation: lightanim-10 2s;
  background-image: url(../image/lt/10.png);
}
.carlightanim-11 { 
  -webkit-animation: lightanim-11 2s;
  background-image: url(../image/lt/11.png);
}
.carlightanim-12 { 
  -webkit-animation: lightanim-12 2s;
  background-image: url(../image/lt/12.png);
}
.carlightanim-13 { 
  -webkit-animation: lightanim-13 2s;
  background-image: url(../image/lt/13.png);
  background-position: 46px 40px;
}
.carlightanim-14 { 
  -webkit-animation: lightanim-14 2s;
  background-image: url(../image/lt/14.png);
}
.carlightanim-15 { 
  -webkit-animation: lightanim-15 2s;
  background-image: url(../image/lt/15.png);
}
.carlightanim-16 { 
  -webkit-animation: lightanim-16 2s;
  background-image: url(../image/lt/16.png);
}
.carlightanim-17 { 
  -webkit-animation: lightanim-17 2s;
  background-image: url(../image/lt/17.png);
}
.carlightanim-18 { 
  -webkit-animation: lightanim-18 2s;
  background-image: url(../image/lt/18.png);
}
.carlightanim-19 { 
  -webkit-animation: lightanim-19 2s;
  background-image: url(../image/lt/19.png);
}
.carlightanim-20 { 
  -webkit-animation: lightanim-20 2s;
  background-image: url(../image/lt/20.png);
  background-position: 0px -8px;
}
.carlightanim-21 { 
  -webkit-animation: lightanim-21 2s;
  background-image: url(../image/lt/21.png);
  /*background-image:url(../image/bg-homepage-01.jpg);*/
  background-position: 0px -8px;
}
.carlightanim-22 { 
  -webkit-animation: lightanim-22 2s;
  background-image: url(../image/lt/22.png);
}
.carlightanim-23 { 
  -webkit-animation: lightanim-23 2s;
  background-image: url(../image/lt/23.png);
}
.carlightanim-24 { 
  -webkit-animation: lightanim-24 2s;
  background-image: url(../image/lt/24.png);
}
.carlightanim-25 { 
  -webkit-animation: lightanim-25 2s;
  background-image: url(../image/lt/25.png);
}
.carlightanim-26 { 
  -webkit-animation: lightanim-26 2s;
  background-image: url(../image/lt/26.png);
  background-position: 0px -1px;
}
.carlightanim-27 { 
  -webkit-animation: lightanim-27 2s;
  background-image: url(../image/lt/27.png);
  background-position: 0px -8px;
}
.carlightanim-28 { 
  -webkit-animation: lightanim-28 2s;
  background-image: url(../image/lt/28.png);
}
.carlightanim-29 { 
  -webkit-animation: lightanim-29 2s;
  background-image: url(../image/lt/29.png);
}
.carlightanim-30 { 
  -webkit-animation: lightanim-30 2s;
  background-image: url(../image/lt/30.png);
  background-position: 0px -8px;
}
.carlightanim {
  -webkit-animation-iteration-count :1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animatin-delay: 3s;
  -moz-animatin-delay: 3s;
  -ms-animatin-delay: 3s;
  -o-animatin-delay: 3s;
}
@-webkit-keyframes lightanim-1 {
  0% { -webkit-mask-position:-300px 0px;}
  40% { -webkit-mask-position:-200px 0px;}
  100% {-webkit-mask-position:-10px 0px;}
}
@-webkit-keyframes lightanim-2 {
  0% { -webkit-mask-position:-300px 0px;}
  60% { -webkit-mask-position:-140px 0px;}
  70% { -webkit-mask-position:-120px 10px;}
  100% {-webkit-mask-position:-80px 10px;}
}
@-webkit-keyframes lightanim-3 {
  0% { -webkit-mask-position:400px 0px;}
  50% { -webkit-mask-position:200px 0px;}
  100% {-webkit-mask-position:10px 0px;}
}
@-webkit-keyframes lightanim-4 {
  0% { -webkit-mask-position:100px -300px;}
  100% {-webkit-mask-position:40px -100px;}
}
@-webkit-keyframes lightanim-5 {
  0% { -webkit-mask-position:0px -300px;}
  50% { -webkit-mask-position:0px -200px;}
  60% { -webkit-mask-position:0px -180px;}
  70% { -webkit-mask-position:0px -150px;}
  100% {-webkit-mask-position:0px -30px;}
}
@-webkit-keyframes lightanim-6 {
  0% { -webkit-mask-position:0px -300px;}
  50% { -webkit-mask-position:0px -200px;}
  60% { -webkit-mask-position:0px -180px;}
  70% { -webkit-mask-position:0px -160px;}
  100% {-webkit-mask-position:0px -100px;}
}
@-webkit-keyframes lightanim-7 {
  0% { -webkit-mask-position:100px -300px;}
  100% {-webkit-mask-position:40px -80px;}
}
@-webkit-keyframes lightanim-8 {
  0% { -webkit-mask-position:0px -300px;}
  50% { -webkit-mask-position:-10px -240px;}
  60% { -webkit-mask-position:-40px -200px;}
  70% { -webkit-mask-position:-50px -150px;}
  100% {-webkit-mask-position:-70px -120px;}
}
@-webkit-keyframes lightanim-9 {
  0% { -webkit-mask-position:200px -300px;}
  100% {-webkit-mask-position:20px -40px;}
}
@-webkit-keyframes lightanim-10 {
  0% { -webkit-mask-position:200px -280px;}
  100% {-webkit-mask-position:40px -70px;}
}
@-webkit-keyframes lightanim-11 {
  0% { -webkit-mask-position:-300px 0px;}
  70% { -webkit-mask-position:-100px 0px;}
  80% { -webkit-mask-position:-100px 0px;}
  100% {-webkit-mask-position:-40px 0px;}
}
@-webkit-keyframes lightanim-12 {
  0% { -webkit-mask-position:200px -300px;}
  80% {-webkit-mask-position:100px -100px;}
  90% {-webkit-mask-position:90px -90px;}
  100% {-webkit-mask-position:50px -50px;}
}
@-webkit-keyframes lightanim-13 {
  0% { -webkit-mask-position:200px -300px;}
  80% {-webkit-mask-position:80px -90px;}
  100% {-webkit-mask-position:50px -80px;}
}
@-webkit-keyframes lightanim-14 {
  0% { -webkit-mask-position:-300px -120px;}
  20% { -webkit-mask-position:-200px -80px;}
  100% {-webkit-mask-position:-10px 0px;}
}
@-webkit-keyframes lightanim-15 {
  0% { -webkit-mask-position:-300px -120px;}
  70% { -webkit-mask-position:-110px -120px;}
  85% { -webkit-mask-position:-100px -100px;}
  100% {-webkit-mask-position:-40px -80px;}
}
@-webkit-keyframes lightanim-16 {
  0% { -webkit-mask-position:-300px 0px;}
  40% { -webkit-mask-position:-200px 0px;}
  100% {-webkit-mask-position:-10px 0px;}
}
@-webkit-keyframes lightanim-17 {
  0% { -webkit-mask-position:-300px 0px;}
  40% { -webkit-mask-position:-200px 0px;}
  100% {-webkit-mask-position:-10px 0px;}
}
@-webkit-keyframes lightanim-18 {
  0% { -webkit-mask-position:-300px -400px;}
  40% { -webkit-mask-position:-150px -200px;}
  90% { -webkit-mask-position:-130px -110px;}
  100% {-webkit-mask-position:-100px -100px;}
}
@-webkit-keyframes lightanim-19 {
  0% { -webkit-mask-position:-280px -260px;}
  70% { -webkit-mask-position:-130px -130px;}
  80% { -webkit-mask-position:-130px -110px;}
  100% {-webkit-mask-position:-100px -60px;}
}
@-webkit-keyframes lightanim-20 {
  0% { -webkit-mask-position:-280px -160px;}
  78% { -webkit-mask-position:-70px -105px;}
  92% { -webkit-mask-position:-60px -100px;}
  100% {-webkit-mask-position:0px -80px;}
}
@-webkit-keyframes lightanim-21 {
  0% { -webkit-mask-position:300px -200px;}
  70% { -webkit-mask-position:100px -120px;}
  85% { -webkit-mask-position:100px -110px;}
  100% {-webkit-mask-position:60px -40px;}
}
@-webkit-keyframes lightanim-22 {
  0% { -webkit-mask-position:310px 0px;}
  100% {-webkit-mask-position:20px 0px;}
}
@-webkit-keyframes lightanim-23 {
  0% { -webkit-mask-position:-300px 0px;}
  65% { -webkit-mask-position:-150px 0px;}
  75% { -webkit-mask-position:-148px 0px;}
  95% { -webkit-mask-position:-80px 0px;}
  100% {-webkit-mask-position:-10px 0px;}
}
@-webkit-keyframes lightanim-24 {
  0% { -webkit-mask-position:200px -300px;}
  70% {-webkit-mask-position:120px -160px;}
  85% {-webkit-mask-position:120px -140px;}
  100% {-webkit-mask-position:80px -60px;}
}
@-webkit-keyframes lightanim-25 {
  0% { -webkit-mask-position:200px -300px;}
  70% {-webkit-mask-position:120px -160px;}
  85% {-webkit-mask-position:120px -140px;}
  100% {-webkit-mask-position:80px -60px;}
}
@-webkit-keyframes lightanim-26 {
  0% { -webkit-mask-position:200px -300px;}
  70% {-webkit-mask-position:110px -140px;}
  85% {-webkit-mask-position:110px -130px;}
  100% {-webkit-mask-position:80px -80px;}
}
@-webkit-keyframes lightanim-27 {
  0% { -webkit-mask-position:300px -200px;}
  70% { -webkit-mask-position:100px -120px;}
  85% { -webkit-mask-position:100px -110px;}
  100% {-webkit-mask-position:60px -40px;}
}
@-webkit-keyframes lightanim-28 {
  0% { -webkit-mask-position:-280px -260px;}
  70% { -webkit-mask-position:-130px -160px;}
  80% { -webkit-mask-position:-130px -140px;}
  100% {-webkit-mask-position:-20px -120px;}
}
@-webkit-keyframes lightanim-29 {
  0% { -webkit-mask-position:100px -300px;}
  50% { -webkit-mask-position:100px -200px;}
  60% { -webkit-mask-position:100px -180px;}
  90% { -webkit-mask-position:20px -150px;}
  100% {-webkit-mask-position:60px -80px;}
}
@-webkit-keyframes lightanim-30 {
  0% { -webkit-mask-position:300px -200px;}
  70% { -webkit-mask-position:100px -120px;}
  85% { -webkit-mask-position:100px -110px;}
  100% {-webkit-mask-position:60px -40px;}
}
/*mounts*/
.mountswich { width: 100%; }
  .mountswich a { position: absolute; z-index: 900;  top: 200px;  width: 45px; height: 45px; display: block; background: url(../image/icon-mountswich.png) no-repeat; text-indent: -9999em; overflow: hidden; display: none; margin-top: -30px; cursor: pointer;}
  .mountswich a.pre {left: 0px;left:6px;}
  .mountswich a.nex { right: 0px; background-position: top right; right:6px;}


/*awardbox*/

.awardbox {}
  .awardbox .inputfrom {  }
  .awardbox .inputfrom .title { background: url(../image/icon-form.png) center top no-repeat;}
  .awardbox .subinfobox { text-indent: -9999em; background: url(../image/icon-form.png) center -40px no-repeat; width: 100%; height: 100px;}
  .awardbox li { height: 30px; width: 250px; margin: 0 auto 4px;line-height: 30px; }
  .awardbox label { width: 45px; height: 28px; background: url(../image/icon-form.png) left -150px no-repeat; text-indent: -9999em; overflow: hidden;display: inline-block;}
  .awardbox label.forname {}
  .awardbox label.forphone { background-position: 0 -182px;}
  .awardbox label.forcity { background-position: 0 -212px; width: 41px;}
  .awardbox .subform select { min-width: 97px; max-width: 97px; overflow: hidden; }

  .awardbox .subminsuccess .title { background: url(../image/icon-subminsuccess.png) center top no-repeat;}
  .awardbox .successinfobox { text-indent: -9999em; background: url(../image/icon-subminsuccess.png) center -40px no-repeat; width: 100%; height: 100px;}

  .awardbox .share .title { background: url(../image/icon-share.png) center top no-repeat;}
  .awardbox .share li { height: 50px; }
  .awardbox .share a { height: 50px; width: 249px; display: block; text-indent: -9999em;  background: url(../image/icon-share.png) 0 -40px no-repeat;}
  .awardbox .share a.qq { background-position: 0 -90px;}
  .awardbox .share a.renren { background-position: 0 -140px;}

/*about game*/
.aboutgame .content {width: 100%;  background: #f4f4f4 url(../image/x2/bg-aboutgame.jpg) no-repeat top center; min-height: 1182px; padding: 0px; background-size: 320px 1182px; text-indent: -9999em; }
/* vertical iphone */
@media screen and (max-width:359px) {
  body { background-size: 320px 569px;}
  header {height: 50px;}
  header h1 { height: 50px; line-height:50px; }
  header a { height:50px;}
  /*.homepage { margin-top: 12px;}*/
}
/* vertical fat 3star */
@media screen and (min-width:360px) and (max-width:500px) {
  header {height: 53px;  background-image: url(../image/bg-header-a.png); background-size: 238px 56px; padding-top: 3px;}
  header h1 { height: 56px; line-height:56px;background-size: 360px 60px; background-image: url(../image/x2/icon-header-a.png);}

  header div.link_home a {height:56px; background-size: 360px 60px; background-image: url(../image/x2/icon-header-a.png);}
  header div.link_home a.link_home {height:56px; background-size: 360px 60px; background-image: url(../image/x2/icon-header-a.png);}

  .homepage { background-size: 360px 592px; margin-top: 52px;}
  .frame { min-height: 400px; }
  .navbox { background-size: 360px 51px; height: 51px; padding-top: 4px}
  .navbox .navlink { background-image: url(../image/x2/bg-nav.png); background-size: 360px 450px; }
.navbox .takepic .back {width: 159px;  float: left; background: url(../image/x2/bg-nav.png) 10px -356px no-repeat; background-size: 360px 450px; margin-left: 20px;}
.navbox .takepic .takethepic { min-width: 161px; float: left; background: url(../image/x2/bg-nav.png)  -149px -356px no-repeat; background-size: 360px 450px;}
.navbox .retakepic .takethepic { min-width: 150px; width: 150px; background-position: -139px -50px ;    }
.navbox .retakepic .retake { width: 159px; background-position: 20px -50px ;  }
  .navbox .showreal .linkshare { margin-left: 24px;}
}

/* horizontal small iphone4*/
@media screen and (min-width:501px) and (max-width:567px) {
  header {height: 50px; }
  header h1 { height: 50px; line-height:50px; }
  header a { height:50px;}

  .homepage { height: 100%; background-size: 400px 660px;}

}
/* horizontal large iphone5 */
@media screen and (min-width:568px) and (max-width:639px) {
  header {height: 50px; }
  header h1 { height: 50px; line-height:50px; }
  header a { height:50px;}
  .horizontal { display: block}
}
/* horizontal fat 3star */
@media screen and (min-width:640px) and (max-width:800px){
  header {height: 50px; }
  header h1 { height: 50px; line-height:50px; }
  header a { height:50px;}
  .horizontal { display: block}
}
/* pc and ipad */
@media screen and (min-width:801px) {
  header {height: 50px; }
  header h1 { height: 50px; line-height:50px; }
  header a { height:50px;}
  .horizontal { display: block}
}


/* for high ratio icon */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

  header h1 { background-image: url(../image/x2/icon-header-i2.png); background-size: 320px 50px; }

  header div.link_home a { background-image: url(../image/x2/icon-header-i2.png); background-size: 320px 50px;}
  header div.link_home a.link_home { background-image: url(../image/x2/icon-header-i2.png); background-size: 320px 50px;  }

  .page { background-image: url(../image/x2/bg-i.jpg) ; background-size: 320px 539px;}
  .homepage { background-image: url(../image/x2/bg-homepage-01.jpg); background-size: 320px 539px;}
  .homepage .menu li a { background-image: url(../image/x2/home-menu.png); background-size: 320px 136px;}
  .navbox .navlink { background-image: url(../image/x2/bg-nav.png); background-size: 320px 400px;}
  .navbox .takepic .back { background-image: url(../image/x2/bg-nav.png); background-size: 320px 400px;}
  .navbox .takepic .takethepic { background-image: url(../image/x2/bg-nav.png); background-size: 320px 400px;}
  .navbox .retakepic .takethepic { background-image: url(../image/x2/bg-nav.png); background-size: 320px 400px;}
  .navbox .retakepic .retake { background-image: url(../image/x2/bg-nav.png); background-size: 320px 400px;}
  .navbox .yourmount .youreal { background-image:url(../image/x2/bg-nav.png); background-size: 320px 400px;}
  .rendering .mountstxt , .yourmount .real .title { background-image: url(../image/x2/icon-mount-title.png); background-size: 320px 23px;}
  .selectgender .gender { background-image: url(../image/x2/icon-gender.png);background-size: 320px 174px; }
 .selectgender ul a {  background-image: url(../image/x2/icon-gender.png); background-size: 320px 174px;}

  .awardbox .subminsuccess .title { background-image: url(../image/x2/icon-subminsuccess.png); background-size: 249px 115px;}
  .awardbox .successinfobox { background-image: url(../image/x2/icon-subminsuccess.png);  background-size: 249px 115px;}

  .awardbox .share .title { background-image: url(../image/x2/icon-share.png);  background-size: 249px 186px;}
    .awardbox .share a { background-image: url(../image/x2/icon-share.png);   background-size: 249px 186px;}
  .awardbox .inputfrom .title { background-image: url(../image/x2/icon-form.png);  background-size: 249px 236px;}
  .awardbox .subinfobox { background-image: url(../image/x2/icon-form.png); background-size: 249px 236px;}
  .awardbox label { background-image: url(../image/x2/icon-form.png); background-size: 249px 236px;}

  /* vertical fat 3star 
  @media screen and (min-width:321px) and (max-width:360px) {
    header h1 { background-image: url(../image/x2/icon-header-a.png); background-size: 360px 60px;}
    header a { background-image: url(../image/x2/icon-header-a.png); }
    .page { background-image: url(../image/x2/bg-a.jpg)}
    .homepage { background-image: url(../image/x2/bg-homepage-01.jpg); background-size: 360px 539px; width:360px; }
    body {display:none;}
  }*/
  /* pc and ipad */
  /* nothing here */
}